@import '~antd/dist/antd.css';

.App {
  text-align: center;  
  font-family: Arial, Helvetica, sans-serif;
}

.ant-btn-primary {
  background: #20285d !important;
  border-color: #20285d !important;
  padding: 10px 32px !important;
  height: auto !important;
}

.ant-btn-primary:hover {
  background: #414ea3 !important;
  border-color: #414ea3 !important;
  padding: 10px 32px !important;
  height: auto !important;
}

.destinationForm {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.destinationForm label {
  text-align: left;
  display: block;
}

.destinationForm h2 {
  font-size: 20px;
  color: #20285d;
  margin-bottom: 30px;
}

.destinationForm input, .destinationForm textarea, .destinationForm select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

/* 
.destinationForm button {
  background: #20285d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
} */

.destination {
  margin:8px;
  font-size:12px;
}