@import '~antd/dist/antd.css';

.App {
  width: 100%;
  height: 100%;
  text-align: center;  
  font-family: Arial, Helvetica, sans-serif;
}

.ant-btn-primary {
  background: #20285d !important;
  border-color: #20285d !important;
  padding: 8px 32px !important;
  height: auto !important;
}

.ant-btn-primary:hover {
  background: #414ea3 !important;
  border-color: #414ea3 !important;
  padding: 8px 32px !important;
  height: auto !important;
}

.ant-btn-secondary:hover {
  border-color: #414ea3!important;
  color: #414ea3!important;
  transform: scale(1.1);
}

.ant-btn-default {
  padding: 10px 32px !important;
  height: auto !important;
}

.ant-btn-default:hover {
  padding: 10px 32px !important;
  height: auto !important;
}

.destinationForm {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.destinationForm label {
  text-align: left;
  display: block;
}

.destinationForm h2 {
  font-size: 20px;
  color: #20285d;
  margin-bottom: 30px;
}

.destinationForm input, .destinationForm textarea, .destinationForm select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.submitButton {
  background: #20285d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
} 

.destination {
  margin:8px;
  font-size:12px;
}

.steps-content {
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #fafafa;
  border: 1px  #e9e9e9;
  border-radius: 2px;
  height:'100%';
  box-sizing: 'border-box';
}

.steps-action {
  margin-top: 24px;
}

.steps-bar {
  max-width: 90%;
  margin: auto;
}

.ant-steps-item-active .anticon {
  display: inline-block;
  color: #20285d !important;
  font-style: normal;
  line-height: 32px !important;
  text-align: top !important;
  text-transform: none;
  vertical-align:0 !important; 
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-steps-item .anticon {
  font-size: 22px !important;
  display: inline-block;
  color: rgba(0, 0, 0, 0.35);
  font-style: normal;
  line-height: 32px !important;
  text-align: top !important;
  text-transform: none;
  vertical-align:0 !important; 
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-steps-small .ant-steps-item-title {
  padding-right: 12px;
  font-size: 16px;
  padding-top: 2px !important;
  line-height: 32px !important;
}

.ant-steps-item-active .ant-steps-item-title {
  padding-right: 12px;
  font-size: 16px;
  line-height: 32px !important;
  color: #20285d !important;
  font-weight: bold;
}

.ant-steps-item-finish .ant-steps-item-tail {
  color: #20285d !important;
}

.ant-steps-item-finish .anticon {
  color: #20285d !important;
  font-weight: bold;
}

.ant-steps-item-finish .ant-steps-item-title {
  color: #20285d !important;
  font-weight: bold;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: #20285d !important;
  height:2px;
}

.ant-steps-item-title::after {
  position: absolute !important;
  top: 16px !important;
}

.ant-card {
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.ant-card::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: unset;
  font-size: unset;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: unset;
}
